<div class="card"  appScrollTo >
   <div class="card-header bg-warning ">
    <h3 class="text-light">Student Form</h3>
   </div>
    <form action="" #stdForm="ngForm"  (ngSubmit)="onAdd()">
      <div class="card-body">
        <div class="form-group">
          <label for="">First name</label>
          <input type="text" class="form-control" name="fname" ngModel>
        </div>
        <div class="form-group">
          <label for="">Last name</label>
          <input type="text" class="form-control" name="lname" ngModel>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" required class="form-control" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="">Contact</label>
          <input type="text" required class="form-control" required name="contact" ngModel>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Is Active</label>
              <select type="text"  required class="form-control" required name="isActive" ngModel>
                 <option [ngValue]="true">Yes</option>
                 <option [ngValue]="false">No</option>
              </select>
            </div>
          </div>

            <div class="col-md-6">
              <div class="form-group">
                 <label for="">City</label>
                 <input type="text" class="form-control" required name="city" ngModel>
              </div>
            </div>
        </div>
   </div>

     <div class="card-footer">
       <button mat-stroked-button *ngIf="!IsInEditMode" color="primary" (click)='onAdd()' >Add Student</button>
       <button mat-stroked-button color="warn" *ngIf="IsInEditMode" color="warn" type="button" (click)='onUpdate()'>Update Student</button>
     </div>

    </form>

</div>
